* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* istruzioni generali */
.float-left {
  float: left;
}

body {
  font-family: 'Roboto', sans-serif;
}
/* /instruzioni generali */

/* header */
header {
  width: 100vw;
  height: 70vh;
  /* cancellare */
  background-color: rgb(21, 25, 77);
  /* /cancellare */
  background-image: url('../img/background-header.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% 100%;
}

.header-container {
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
}

.bottom-header {
  height: 200px;
  width: 100%;
  background-color: violet;
}

/* barra menu */
.logo{
  /* cancellare */
  height: 50px;
  width: 20%;
  /* /cancellare */
  position: relative;
}
.middle-menu{
  width: 40%;
  /* cancellare */
  /* height: 50px;
  background-color: yellow; */
  /* /cancellare */
  padding-top: 10px;
}
.right-menu{
  width: 40%;
  /* cancellare */
  height: 50px;
  /* background-color: orange; */
  /* /cancellare */
  padding-top: 10px;
}

.logo > img {
position: absolute;
top: 50%;
transform: translate(0, -50%);
}

 li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  line-height: 50px;
  margin-right: calc(100% / 109);
}

.right-menu-item  span {
  border: 2px solid white;
  padding: 5px 15px;
  border-radius: 5px;
}

.right-menu-item li:last-child span {
  background-color: green;
  border: 2px solid green;
}
/* /barra menu */

.h1-container {
  width: 50%;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.h1-container > h1 {
  color: white;
}

.cta {
  width: 200px;
  background-color: green;
  margin-top: 40px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

/* /header */
