* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* istruzioni generali */
.float-left {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: 'Roboto', sans-serif;
}
/* /instruzioni generali */

/* header */
header {
  width: 100vw;
  height: 100vh;
  background-color: rgb(21, 25, 77);
  background-image: url('../img/background-header.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 110% 40%;
}

.header-container {
  width: 80%;
  height: 70%;
  margin: auto;
  position: relative;
}

/* barra menu */
.logo{
  height: 50px;
  width: 20%;
  position: relative;
}
.middle-menu{
  width: 40%;
  padding-top: 10px;
}
.right-menu{
  width: 40%;
  padding-top: 10px;
}

.logo > img {
position: absolute;
top: 50%;
transform: translate(0, -50%);
}

 li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  line-height: 50px;
  margin-right: calc(100% / 109);
}

.right-menu-item  {
  text-align: right;
}

.right-menu-item  span {
  border: 2px solid white;
  padding: 5px 15px;
  border-radius: 5px;
}

.right-menu-item li:last-child span {
  background-color: green;
  border: 2px solid green;
}
/* /barra menu */

.h1-container {
  width: 50%;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.h1-container > h1 {
  color: white;
}

.cta {
  width: 200px;
  background-color: green;
  margin-top: 40px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.bottom-header {
  height: 30%;
  width: 100%;
  background-color: grey;
  position: relative;
}

.bottom-header-container {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.bottom-header-container > h3 {
  margin: 20px auto;
  color: rgb(74, 80, 80);
}


/* /header */

/* corpo centrale */

/* section superiore */
.card-container {
  height: 500px;
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.card {
  height: 100%;
  width: 30%;
  margin: 0  calc(100% / 60 );
  float: left;
  text-align: center;
}

.card > img {
  height: 200px;
  width: 100%;
}

.card > h2{
  color: green;
}

.card > hr {
  margin: 20px 120px;
}

section > hr {
  width: 80%;
  margin: auto;
}
/* /section superiore */

/* section inferiore */
.mountain-container, .description-container {
  width: 25%;
  height: 400px;
  float: left;
  margin-top: 50px;
}

.mountain-container {
  margin-left: 20%;
  background-image: url('../img/mountain.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.description-container {
  margin-right: 10%;
  margin-left: 10%;
}

.description-container > h2 {
  font-size: 30px;
}

.description-container > p {
  color: grey;
  margin: 20px 0;

}

/* /section inferiore */
/* /corpo centrale */

/* footer */
footer {
  width: 80%;
  background-color: rgb(188, 198, 186);
  margin: auto;
}

.footer-container-left, .footer-container-right {
  width: 40%;
  margin: 5%;
  float: left;
  position: relative;
}

.footer-container-left > h2 {
  line-height: 100px;
}

.footer-container-right > p {
  color: rgb(34, 35, 36);
  float: left;
  line-height: 100px;
}
.label-container {
  width: 50%;
  position: relative;
  float: left;
  height: 100px;
}
.choose {
  margin-left: 50px;
  display: inline-block;
  float: left;
  line-height: 100px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

}
.footer-container-right > .cta {
  font-size: 12px;
  width: 150px;
  text-transform: uppercase;
  float: left;
  position: absolute;
  left: 50%;
  transform: translate(0, -25%);
}

.second {
  position: fixed;
  bottom: -1%;
  left: 75%;
}


/* /footer */
